

.btn-white-wrapper {
  display: inline-block;
  filter: drop-shadow(0px 2px 0px #111) drop-shadow(2px 0px 0px #111)
    drop-shadow(-2px 0px 0px #111) drop-shadow(0px -2px 0px #111);
}

.btn-white-wrapper:hover {
  display: inline-block;
  transition: 0.4s ease-in-out;
  filter: drop-shadow(0px 2px 0px #84ff65) drop-shadow(2px 0px 0px #84ff65)
    drop-shadow(-2px 0px 0px #84ff65) drop-shadow(0px -2px 0px #84ff65);
}

.btn-white {
  display: inline-block;
  clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  background: black;
  border: 2px;
  border-color: white;
  color: white;
  padding: 1rem 2rem;
  transition: 0.4s ease-in-out;
}
.btn-white:hover {
  border-color: #84ff65;
  color: #84ff65;
  transition: 0.4s ease-in-out;
}

.navbar {
    transform: translateY(-200%);
    transition: transform 1.5s ease-in-out;
  }
  
  .navbar.show {
    transform: translateY(0);
  }
  